<ion-view title="Новости">
    <ion-content>
        <ion-refresher
                pulling-text="Отпусти для обновления"
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item collection-repeat="new in news"
                      collection-item-width="'100%'"
                      collection-item-height="50"
                      style="width:100%"
                      class="item"
                      ui-sref="news-details({newsId: '{{new._id}}'})">
                {{new.title}}
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                icon="ion-loading-c"
                ng-if="moreDataCanBeLoaded"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>