/* Empty. Add your own CSS if you like */
#news-item-content img {
    max-width: 100%;
    height: auto;
    background: transparent url(../img/loading.gif) no-repeat scroll center center;
}

#news-item-content {
    padding:5px;
}

#news-list .new {
    font-weight: bold;
}